/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

div.mf-slide{
    position: absolute;
    border : 1px solid #CCCCCC;
    box-shadow: rgba(204, 204, 204, 0.6) -3px 7px 9px;
    -webkit-box-shadow: rgba(204, 204, 204, 0.6) -3px 7px 9px;
    -moz-box-shadow: rgba(204, 204, 204, 0.6) -3px 7px 9px;
    -o-box-shadow: rgba(204, 204, 204, 0.6) -3px 7px 9px;
     border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(white));
    background: -moz-linear-gradient(-90deg, #EEEEEE, white);
    padding-top: 3%;
    overflow: hidden;
}

div.mf-slide-active{
    -webkit-transform : scale(1.0) !important;
    -moz-transform : scale(1.0) !important;
    -o-transform : scale(1.0) !important;
}

div.mf-slideview{
    position: absolute;
    left: 0px;
    top: 0px;
    width : 100%;
    height: 98%;
    margin-top:1%;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(white));
    background: -moz-linear-gradient(-90deg, #F7F7F7, white);
}